<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="swmng.mappers.CompanyMapper">
	<resultMap type="Company" id="companyResult">
		<id property="no" column="no"></id>
		<result property="coName" column="coName" />
		<result property="address" column="address" />
		<result property="tel" column="tel" />

	</resultMap>
	<select id="selectList" resultType="Company">
		select no,coName,address,tel
		from company order by no
	</select>
	<select id="selectNo" resultType="Company" parameterType="int">
		select no,coName,address,tel from company where no = #{no}
	</select>
	<select id="IncNo" parameterType="int" resultType="Company">
		SELECT
		MAX(no)+1 no FROM company
	</select>
	<insert id="insertList" parameterType="Company">
		insert into
		company(no,coName,address,tel)
		values(#{no},#{coName},#{address},#{tel})
	</insert>
	<update id="updateList" parameterType="Company">
		update company set
		coName=#{coName},address=#{address},tel=#{tel} where no = #{no}
	</update>
	<delete id="deleteList" parameterType="int">
		delete from company where no = #{no}
	</delete>
</mapper>